<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key ="DestinationPath" value= "D:\\Programming\\HF_Automation\\Test\\" />
    <add key ="2018" value= "4" />
    <add key ="2016" value= "45" />
    <add key ="2014R1" value= "84" />
    <add key ="2014" value= "69" />
    <add key ="2011" value= "69" />
  </appSettings>


</configuration>